<h1>Search Results</h1>

<section id='results'>
  <h3>Total Members: <%= @members.count %></h3>
  <% @members.each do |member| %>
    <ul class='member'>
      <%= image_tag(member.photo, class: 'photo') unless member.photo.nil? %>
      <li class='name'>Name: <%= member.name %></li>
      <li class='allies'>Allies: <%= member.allies %> </li>
      <li class='enemies'>Enemies: <%= member.enemies %> </li>
      <li class='affiliations'>Affiliations: <%= member.affiliation %> </li>
    </ul>
  <% end %>
</section>
